/* Estilos log in */
.centrar{
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
height: 100vh;


}
.cajaPrincipal{
display: grid;
grid-template-columns: 50% auto ;

height: 400px;
width: 700px;

}

.diseñoEjem{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto auto;



}



.contenedorDiseño{

background-color: lightblue;

}
.fila1{
padding: 5px;
display: grid;
grid-template-columns: auto 50% auto;
gap: 10px;

}

.caja{
display: flex;
justify-content: center;
align-items: center;
background-color: lightgreen;
border-radius: 20px;

}


.fila2{
padding: 5px;
display: grid;
grid-template-columns: 35% auto 35%;
gap: 10px;

}

.fila3{
padding: 5px;
display: grid;
grid-template-columns: auto 50% auto;
gap: 10px;

}



.inputsLog{
padding: 5px;
display: grid;
grid-template-columns: auto;
grid-template-rows: 80% auto;
gap: 5px;

}

.inputs{
display: grid;
border-radius: 20px;
background-color: lightcoral;

}
.inputsL{
border: black none;
border-radius: 20px;
border: none;
margin: 20px 10px 20px 10px;
}
.btnL{
border: none;
border-radius: 20px;
margin: 20px 50px 20px 50px;
}
.divL{
display: grid;
}
.registerBtn{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: lightgreen;
.registrate{
border: none;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
}
}

/* Estilos register*/

.hojaP{
border-radius: 20px;
display: grid;
height: 500px;
width: 300px;
background-color: lightcoral;


}

.inputsR{
border: none;
border-radius: 20px;

margin: 30px 20px 30px 20px;

}

.btnRegister{
    border: none;
    border-radius: 20px;
    margin: 70px 50px 70px 50px;

}

.btnLogIn{
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;

}


